// --------------------user event page part ------------------ 

.eventsContainer {
    min-height: 100vh;
    margin: auto;
    background: rgba($color: rgb(237, 237, 237), $alpha: 0.8);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;

    .title {
        text-align: center;
        padding: 15px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-shadow: 2px 2px 4px rgb(109, 108, 108);
    }
    .btn {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        padding: 10px;
        border: none;
        color: white;
        background: rgba($color: black, $alpha: 0.6);
        border: 1px solid rgba($color: transparent, $alpha:0 );

        border-radius: 5px;
        cursor: pointer;
        font-weight: 700;
        transition: all .4s;
        &:hover {
            background: white;
            border: 1px solid rgba($color: black, $alpha: 0.6);
            color: rgba($color: black, $alpha: 0.6);
        }

        @media screen and (max-width: 700px) {
            position: unset;
            display: block;
            margin: auto;
            margin-top: 20px;
            width: 70%;
        }

    }
   
}


//---------------------- event tile part ---------------------

.tileContainer {
    margin: auto;
    width: 90%;
    max-width: 1040px;
    height: 40vh;
    min-height: 300px;
   
   box-shadow: 1px 1px 2px grey;

    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;

    .eventDate {
        text-align: center;
        padding: 10px;
    }

    .imageContainer {
        width: 100%;
        height: 70%;


        background: pink;
        position: relative;

        Image {
            object-fit: cover;
        }
    }

    .description {
        text-align: left;
        padding: 5px;
    }
}

// -----------------------modal add event part -----------------
.modalOverlay {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background: rgba($color: rgb(230, 230, 230), $alpha: 1);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    z-index: 1000;
    padding-bottom: 50px;

   

    .modalContainer {
        position: relative;

        width: 100%;
        height: 100%;
        border-radius: 10px;
        padding-bottom: 50px;
        box-shadow: 2px 2px 4px lightgrey;

        h5 {
            padding: 20px;
            text-align: center;
            font-size: 24px;
            font-family: Georgia, 'Times New Roman', Times, serif;
        }
        .btnValid {
            position :absolute;
            bottom:0;
            left: 50%;
            height : 40px;
            transform: translate(-50%);
            padding: 10px;
            margin:auto;
            border: none;
            color: white;
            background: rgba($color: black, $alpha: 0.6);
            border-radius: 5px;
            cursor: pointer;
            font-weight: 700;
            transition: all .4s;
            &:hover {
                background: white;
                border: 1px solid rgba($color: black, $alpha: 0.6);;
                color: rgba($color: black, $alpha: 0.6);
                scale: 1.05;
            }
    
            @media screen and (max-width: 700px) {
                margin: auto;
                margin-top: 40px;
                width: 70%;
            }
    
        }
       

       
    }
    

    .eventInfosContainer {
        display: flex;
        height: 90%;
        flex-direction: column;
        justify-content: space-between;

        label {
            text-align: center;
            padding: 10px;
            text-shadow: 2px 2px 4px rgb(247, 214, 214);
        }
    }

    .partEventContainer {
        display: flex;
        flex-direction: column;
    }

    .date {
        height: 5%;
        flex-direction: row;
        justify-content: center;
    }

    .picture {
        height: 40%;
        position: relative;
    }

    .description {
        height: 20%;

        textarea {
            height: 100%;
        }
    }
}
.loading {
    height: 100%;
    width: 100%;
    z-index: 10;
    text-align: center;
    padding-top: 20px;
}
.skeletonContainer{
    width: 90%;
    margin: auto;

    
 }