.modalOverlay {
  width: 100%;
  height: 93vh;
  border-radius: 10px;
  background: radial-gradient(rgba($color: rgb(230, 230, 230), $alpha: 1),rgba($color: rgb(138, 3, 165), $alpha: 1)) ;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  z-index: 1000;
  padding-bottom: 80px;
  overflow-y: hidden;
  

 

  .modalContainer {
      position: relative;

      width: 100%;
      height: 100%;
      border-radius: 10px;
      padding-bottom: 50px;
      box-shadow: 2px 2px 4px rgb(211, 211, 211);
      @media screen and (min-width : 700px) {
        width: 50%;
      }

      h5 {
          padding: 20px;
          text-align: center;
          font-size: 24px;
          font-family: Georgia, 'Times New Roman', Times, serif;
      }
      .btnValid {
        //   position :absolute;
        //   bottom:0;
        //   left: 50%;
          height : 40px;
        //   transform: translate(-50%);
          padding: 10px;
          padding: 10px;
          margin:auto;
          border: none;
          color: white;
          background: rgba($color: black, $alpha: 0.6);
          border-radius: 5px;
          cursor: pointer;
          font-weight: 700;
          transition: all .4s;
          &:hover {
              background: white;
              border: 1px solid rgba($color: black, $alpha: 0.6);;
              color: rgba($color: black, $alpha: 0.6);
              scale: 1.05;
          }
  
          @media screen and (max-width: 700px) {
              margin: auto;
              margin-top: 10px;
              width: 70%;
          }
  
      }
     

     
  }
  

  .eventInfosContainer {
      display: flex;
      height: 90%;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      label {
          text-align: center;
          padding: 10px;
          text-shadow: 2px 2px 4px rgb(247, 214, 214);
      }
  }

  .partEventContainer {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
  }

  .date {
      height: 5%;
      flex-direction: row;
      justify-content: center;
  }

  .picture {
      height: 40%;
      margin : 10px auto;
      width : 50%;
      @media screen and (max-width:700px)  {
        width: 95%;
      }

  }

  .description {
      height: 20%;
      width: 95%;
      margin-top: 7dvh;

      textarea {
          height: 100%;
      }
  }
}