.bodyContainer {
  min-height: 100vh;
  background-image: url('../public/home.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.sectionContainer{
  height: 100vh ;
}
.main{
  width: 100%;
  height: 100%;
 
}
@media screen and (max-width:769px) {
  .bodyContainer {

    background-image: none;
    background-color: rgb(247, 185, 208);
  }

}