.cameraContainer {
  position: absolute;
  top: 0;
  left :0;
  width: 100%;
  height: 100%;
  background-color: pink;
  .photoContainer {
    width : 100%;
    height : 100%;
    background-color: red;
    position: relative;
    .btnContainer {
      position: absolute;
      bottom: 1dvh;
      width: 100%;
      display: flex;
      justify-content: space-evenly;

      .btn {
        text-align: center;
        height: 4dvh;
        width: 40%;
        background-color: rgba(127, 61, 192, 0.439);
        margin: auto;
        display: inline-block;
        justify-content: center;
        align-items: center;
        line-height: 4dvh;
        border-radius: 5px;
        color: white;
        cursor: pointer;
        z-index: 1000;
      }
    }
    
    
  }
  
  .cameraPart {
    height: 100%;

    position : relative;
    overflow: hidden;
    .video{
      position : absolute;
      width: 200%;
      height: 100%;
      transform: translate(-15%);
      z-index: 1;
    ;
      
      
      
    }
    .changeBtn{
      position: absolute;
      right: 30px;
      top : 10px;
      z-index: 2;
      background-color: rgba(127, 61, 192, 0.439);
      padding: 10px;
      border-radius: 10px;
      cursor: pointer;

    }
    .takePhotoBtn{
      cursor: pointer;
      position: absolute;
      bottom : 10px;
      left:50%;
      transform: translate(-50%);
      font-size: 48px;
      background-color: rgba(127, 61, 192, 0.439);
      padding: 10px;
      border-radius: 10px;
      z-index: 2;

    }


  }
  video {
    width: 100%;
  }
}